doctype html
html(ng-app='rawfit')
  head
    title Rawfit
    base(href='/')

    include templates/metas
    include templates/favicons
    include templates/styles

  body
    .parallax-scrolling
      section.layer-background.home
      section.layer-base
      
      section.layer-background.testimonials
      section.layer-base

      section.layer-background.cooking-classes
      section.layer-base

      section.layer-background.the-books
      section.layer-base

      section.layer-background.contact
      footer.layer-base.footer

    //- div(ui-view)

    include templates/scripts
  
