@font-face {
  font-family: 'Museo sans';
  src: url('../fonts/museo-sans/700-regular.eot');
  src: url('../fonts/museo-sans/700-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/museo-sans/700-regular.woff') format('woff'),
       url('../fonts/museo-sans/700-regular.ttf') format('truetype'),
       url('../fonts/museo-sans/700-regular.svg#museo_sans700') format('svg');
  font-weight: normal;
  font-style: normal;
}

.typography-accent {
  font-family: 'Museo sans';
}
