.parallax
  .layer.background.home
  .layer.base
  
  .layer.background.testimonials
  .layer.base

  .layer.background.cooking-classes
  .layer.base

  .layer.background.the-books
  .layer.base

  .layer.background.contact
  footer.layer.base.footer
