doctype html
html(ng-app='rawfit')
  head
    title rawfit
    base(href="/")

    include ../templates/metas
    include ../templates/favicons
    include ../templates/links

  body
    block content

    include ../templates/scripts
